  /* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&family=Poppins:wght@500;600;700&family=Sniglet:wght@400;800&family=Work+Sans:wght@600&display=swap'); */

*{

    /* font-family: 'Poppins', sans-serif; */
    max-width: 100%;
}

main, header, footer {

    max-width: 100%;
}






.bt-first {

    background-color:  #B68C5A !important; 
    border: 0;
    outline: none;
}


.banner-area {

    background-image: url('/images/Rectangle\ 6.png'), linear-gradient(to bottom, rgba(0, 0, 0, 0.548), #000);
   
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode: multiply;

    height: 60vh;
    
    
}



.gradient-bg {

   filter: brightness(40%);







}

@media screen and (max-width: 700px)  {

    .banner-area {
        background-image: url('/images/Rectangle\ 6.png'), linear-gradient(to bottom, rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.534));


        background-size: cover;
        object-fit: contain;
        object-position: right;
        padding: 30px;
    }

    footer {

        height: 100%;
    }

    
}
